# Dependencies
node_modules
npm-debug.log

# Next.js
.next
.next/*
out
.swc

# Development
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Git
.git
.git/*
.gitignore
.gitattributes

# Documentation
*.md
!README.md

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
.vercel

# Build artifacts
tsconfig.tsbuildinfo
*.log
