@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-dark bg-white;
  }
}

@layer utilities {
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-spin {
    animation: spin 1s linear infinite;
  }

  .animate-slide-up {
    animation: slide-up 0.3s ease-out;
  }
}
